.main{
    margin: 0 80px;
}
#header{
    font-size: 35px;
}

#habit{
    margin-bottom: 10%;
    background-color: darkcyan;
}
#habit:hover{
    background-color: rgb(39, 185, 185);
}
.habit_link {
    color:white;
    text-decoration: none;
    text-align: center;
}
 .habit_link:hover {
  text-decoration: none;
  color: rgb(1, 1, 31);
  background-color: rgb(230, 233, 238);
}

#record {
    border-radius: 10px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    width: 30%;
    margin: 30px auto;
    padding: 30px;
}