{% extends 'base.html' %}

{% block heading %}
<h2>Habit: {{ habit.name }} </h2>
{% endblock %}

{% block content %}
<h4>Habit Records</h4>
<table>
  {% for record in habit.record %}
  <tr> {{ record.progress }} </tr>
  <!-- <td> should display wheter the record is complete or not </td> -->
  {% endfor %}
</table>
<a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-blue"
  href="{% url 'habit_delete' habit.pk %}">Delete</a>

<a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-blue" href="{% url 'record_new' habit.pk %}">Add
  Record</a>
{% endblock %}