{% extends 'base.html' %}

{% block heading %}

{% endblock %}

{% block content %}
<div id="record">
  <h1>Habit Records</h1>
  <h2>Habit: {{ habit.name }} </h2>
  <h5>Goal: {{ habit.goal }} {{habit.unit}}</h5>
  <table>
    {% for record in habit.habit_records.all %}
    <tr> Progress: {{ record.progress }} </tr>
    {% empty %}
    <p>There are no records for this habit. Would you like to add one?</p>
    {% endfor %}
  </table>
  <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib blue bg-white"
    href="{% url 'habit_delete' habit.pk %}">Delete</a>

  <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib blue bg-white" href="{% url 'record_new' habit.pk %}">Add
    Record</a>
  <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib blue bg-white" href="{% url 'record_edit' habit.pk %}">Edit
    Record</a>
</div>
{% endblock %}